* {
    font-family: Arial, Helvetica, sans-serif;
    
    color: black;
}

html { 
    scroll-behavior: smooth; 
    background-color: black;
}

#scroll_to_top {
    position: fixed;
    width: 25px;
    height: 25px;
    bottom: 35px;
    right: 35px;
    
  }
  #scroll_to_top img {
    width: 40px;
    border-radius: 15px;
    padding: 5px;
  }

  #scroll_to_top img:hover {
    
    transition: all 400ms ease-in-out;
    background-color: black;
    filter: invert(1);
    
  }

.logo {
    width:100%;
    border-radius:10px;
}

.container{

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.product-container {
    width: 100%;
    max-width: 200px;
    text-align: center;
    border:#B09B5A 3px solid;
    margin: 10px;
    border-radius: 25px;
    background-color: white;
    box-shadow: 1px 1px 10px white;
    transition: all 400ms ease-in-out;
    }

.product-container:hover{
    background-color: black;
    box-shadow: none;
    
}

img, h2, p {
    background-color: transparent;
}

p {
    color: white;
    
}

img {
    width: 75px;
}

h1{
    color: white;
    text-align: center;
}

h2{
    color:black;
    font-size: 20px;
}






/*menu-sans puce*/
#menu {
    text-align: center;
    display: flex;
    flex-direction: column;
}

#menu li {
    list-style-type: none;
   
}

#menu li a {
    text-decoration: none;
    color:#16355C;
    padding: 5px 0px;
    margin: 2px 0;
    background-color: #B09B5A;
    display: block;
    font-size: 22px;
    font-weight: 600;
    transition: all 400ms ease-in-out;
    border-radius: 10px;
} 

#menu li a:hover{
    color:#B09B5A;
    background-color:#16355C;
}