* {
    font-family: arial;
    background-color: black;
    color: black;
}

.container{

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.product-container {
    width: 100%;
    max-width: 200px;
    text-align: center;
    border:grey 3px solid;
    margin: 10px;
    border-radius: 25px;
    background-color: white;
    box-shadow: 1px 1px 3px #ccc;
    }

.product-container:hover{
    background-color: black;
    color: white;
}

img, h2, p {
    background-color: inherit;
}

p {
    color: white;
    
}

img {
    width: 75px;
}

h1{
    color: white;
    text-align: center;
}

h2{
    font-size: 20px;
}




/*menu-sans puce*/
ul#menu{    
	list-style:none;
    text-align: center;
}
/*menu-alignement horizontal et suppresion de style*/ 
ul#menu li{
    background-color:none;
}
/*menu-mettre le menu en bloc*/
ul#menu li a{
	background:none;
	color:#0066cc;    
	text-decoration:none;
	display:block;
	border-bottom:white solid 0.1em;
	padding:1em 0.5em;
}
/*menu-survol*/
ul#menu li a:hover{
	color:white;    
	text-decoration:none;    
	background-color:#0066cc;
}
/*menu-police*/
li{
	font-size:2em;
	font-weight:400;
}