* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    list-style-type: none;
    box-sizing: border-box;
}

body {
    margin:5px
}

nav {
  text-align: center;
}

.menu li {
  width: 100%;
  height: 40px;
  border-radius: 10px;
}

.menu li a {
    text-decoration: none;
    color: white;
    padding: 5px 0px;
    cursor: pointer;
    background-color: #9D812A;
    display: block;
    font-size: 22px;
    font-weight: 600;
    transition: all 400ms ease-in-out;
    border-radius: 10px;
}
.menu li a:hover {
    background-color:#949494;
    color: black;
}


html { 
    scroll-behavior: smooth; 
    background-color: #131313;
}

#scroll_to_top {
    position: fixed;
    width: 25px;
    height: 25px;
    bottom: 35px;
    right: 35px;
    
  }
  #scroll_to_top img {
    width: 40px;
    border-radius: 15px;
    padding: 5px;
  }


.logo {
    width:100%;
    border-radius:10px;
}

.container{

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.product-container {
    width: 100%;
    max-width: 200px;
    text-align: center;
    border:#9D812A 4px solid;
    margin: 10px;
    border-radius: 25px;
    background-color: white;
    box-shadow: 1px 1px 10px white;
    transition: all 400ms ease-in-out;
    }

.product-container:hover{
    background-color: #131313;
    box-shadow: none;
    
}

img, h2, p {
    background-color: transparent;
}

.order {
    color:white;
    margin: -10px 0 0 0;
}

p{
    margin: 10px;
}

img {
    
    width: 170px;
}

h1{
    color: white;
    text-align: center;
    margin: 20px 0;
}

h2{
    color:black;
    font-size: 20px;
    margin: 10px 0;
}

@media (min-width: 768px) {
header {
  display: flex;
  align-items: center;
}

.logo {
  width: 197px;
}

nav {
  width: 100%;
  margin-left:5px;
}

h1 br {
  display: none;
}

  h1{
    margin-bottom: 0px;
  }
  
  .product-container{
    margin: 25px;
  }
  
}
@media (min-width: 1024px) {
  header {
    display: flex;
    flex-wrap: wrap;
  }
  nav {
    text-align: center;
    margin: 0px 0 25px 0;
  }
  
  ul {
    display: flex;
    margin: 10px 0 10px -5px;
  }
  
  .menu li a {
    height: 150%;
    margin: 0 2px;
  }
  
  h1 {
    position: absolute;
    margin: -180px 0 0px 250px;
    font-size: 45px;
}
}