* {
    font-family: arial;
    background-color: black;
    color: black;
}

.logo {
    width:100%;
    border-radius:10px;
}

.container{

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.product-container {
    width: 100%;
    max-width: 200px;
    text-align: center;
    border:grey 3px solid;
    margin: 10px;
    border-radius: 25px;
    background-color: white;
    box-shadow: 1px 1px 3px #ccc;
    }

.product-container:hover{
    background-image: ;
    color: white;
}

img, h2, p {
    background-color: inherit;
}

p {
    color: white;
    
}

img {
    width: 75px;
}

h1{
    color: white;
    text-align: center;
}

h2{
    font-size: 20px;
}




/*menu-sans puce*/
#menu {
    text-align: center;
    display: flex;
    flex-direction: column;
}

#menu li {
    list-style-type: none;
   
}

#menu li a {
    text-decoration: none;
    color:#16355C;
    padding: 5px 0px;
    margin: 2px 0;
    background-color: #B09B5A;
    display: block;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
} 

#menu li a:hover{
    color:#B09B5A;
    background-color:#16355C;
}