* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    list-style-type: none;
    box-sizing: border-box;
    background-color: #131313;
}

body {
    margin:5px
}

nav {
  text-align: center;
}

.menu li {
  width: 100%;
  height: 40px;
  border-radius: 10px;
}

.menu li a {
    text-decoration: none;
    color: #EDE892;
    padding: 5px 0px;
    cursor: pointer;
    background-color: #B1011B;
    display: block;
    font-size: 22px;
    font-weight: 600;
    transition: all 400ms ease-in-out;
    border-radius: 10px;
}
.menu li a:hover {
    background-color:#EDE892;
    color: #B1011B;
}

.logo {
    width:100%;
    border-radius:10px;
}

p{
    margin: 0px 0 0 0;
    color: white;
    text-align: center;
}


h1{
    color: white;
    text-align: center;
    margin: 20px 0;
}

@media (min-width: 768px) {
    header {
      display: flex;
      align-items: center;
    }
    
    .logo {
      width: 197px;
    }
    
    nav {
      width: 100%;
      margin-left:5px;
    }
    
    h1 br {
      display: none;
    }
    
      h1{
        margin-bottom: 0px;
      }
      
      .product-container{
        margin: 25px;
      }
      
    }
    @media (min-width: 1024px) {
      header {
        display: flex;
        flex-wrap: wrap;
      }
      nav {
        text-align: center;
        margin: 0px 0 25px 0;
      }
      
      ul {
        display: flex;
        margin: 10px 0 10px -5px;
      }
      
      .menu li a {
        height: 100%;
        margin: 0 2px;
      }
      
      h1 {
        position: absolute;
        margin: -210px 0 0px 250px;
        font-size: 45px;
    }
    }